# Ignore node modules and debug log
node_modules
typings
npm-debug.log
# Ignore compiled files in CSS and build
build/*
css/*
# Includes any .gitkeep files in otherwise ignored or unused directories
!*/**/.gitkeep
.idea